:root {
  --base-font: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Arial, sans-serif;
  --base-size: 16px;
  --color-red: #df4b26;
  --color-grey: #f7f7f7;
  --color-dark: #000;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  display: flex;
}

body {
  font-family: var(--base-font);
  font-size: var(--base-size);
  background: var(--color-light);
  color: var(--color-dark);
}

a {
  color: var(--color-red);
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

a:hover,
a:focus {
  border: none;
}

p,
dl {
  margin: 0;
  padding: 0.5em 0;
}

.app {
  display: flex;
  min-width: 100%;
  min-height: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 1em 0;
}

.page--header {
  box-sizing: border-box;
  padding: 0 1em;
}

.page--heading {
  margin: 0;
  padding: 0 0 0.5em;
}

.page--aside {
  box-sizing: border-box;
  padding: 0 1em;
}

.page--container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.page--content {
  box-sizing: border-box;
  padding: 0 1em;
}

.page--footer {
  box-sizing: border-box;
  padding: 40px 1em;
  font-size: 0.9em;
}

/* .contacts--term {
} */

.contacts--desc {
  margin-left: 0;
  -webkit-margin-start: 0;

  & + .contacts--term {
    margin-top: calc(var(--base-size) / 2);
  }
}

@media screen and (min-width: 460px) and (max-width: 699px) {
  .page--logo {
    float: right;
    padding: 1em 0;
  }
}

@media screen and (min-width: 700px) {
  .page {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  /* .page--header {
  } */

  .page--aside {
    flex-basis: 250px;
    order: 1;
  }

  .page--container {
    flex-direction: row;
  }

  .page--content {
    flex-basis: calc(100% - 250px);
  }

  /* .page--footer {
  } */
}

@media screen and (min-width: 950px) {
  .page {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}
