
.header {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  background: #222;
  color: #fafafa;
  height: 50px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
  width: 100%;
  z-index: 100;
}

.wrapper {
  display: flex;
  flex-grow: 1;
  align-items: center;
  max-width: 900px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.menu {
  display: flex;
}

.logo,
.menuItem {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: #ddd;
  border: none;
  margin: 0 10px;
}

.menuItem {
  height: 100%;
  padding: 0 10px;
}

.active {
  color: #fafafa;
  background: #333;
}

.logo:hover,
.menuItem:hover {
  color: #fff;
}

.logo {
  position: relative;
  margin-left: 0;
  font-size: 30px;
}

.logo:before,
.logo:after {
  color: #df4b26;
  font-size: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-63%);
}

.logo:before {
  content: '}';
  right: -10px;
}

.logo:after {
  content: '{';
  left: -10px;
}

.icon {
  width: 50px;
  height: 100%;
  margin: 0 5px;
}
