.talks-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 60px 20px;

  @media (min-width: 670px) {
    grid-template-columns: 1fr;
  }

  @media (min-width: 1025px) {
    grid-template-columns: 1fr 1fr;
  }
}

.talks-item {
  display: flex;
  gap: 0 40px;
  border-bottom: 1px solid rgb(38, 40, 61);
  padding-bottom: 40px;

  @media (min-width: 1025px) {
    border: 0;
    padding-bottom: 0;
  }
}

.talks-item-heading {
  font-size: 18px;
  margin-bottom: 12px;
}


.talks-item-content {
  display: flex;
  gap: 20px;

  & a {
    color: rgb(138, 145, 153);
  }
}
