.post {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.header {
  display: flex;
  font-weight: 200;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 20px;
}

.header_title {
  font-weight: 200;
  margin: 0;
}

.header_date {
  font-weight: 200;
  color: #7b7b7b;
}

.footer {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #777;
}

.footer ul {
  list-style: none;
  margin-left: 0;
}

.back_link {
  margin-bottom: 10px;
}

.player {
  width: 100%;
  background: #fafafa;
}

.player_audio {
  width: 100%;
}

.player_controls {
  display: flex;
  justify-content: flex-end;
  padding: 0 10px 5px;
}

.player_controls_item {
  color: #555;
  background: transparent;
  border: none;
  font-size: 11px;
  cursor: pointer;
}

.player_controls_item:hover {
  color: #000;
}

.player_controls_item + .player_controls_item {
  margin-left: 5px;
}

.personsList {
  margin: 64px 0 32px;
}
