
.header {
  display: flex;
  font-weight: 200;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 20px;
}

.header_title {
  font-weight: 200;
  margin: 0;
}

.header_date {
  font-weight: 200;
  color: #7b7b7b;
}

.footer {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #777;
}

.footer ul {
  list-style: none;
  margin-left: 0;
}

.personsList {
  margin: 64px 0 32px;
}
