.menuButton {
  margin-left: auto;
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
  right: 20px;
  top: 10px;
}
@media (min-width: 501px) {
  .menuButton {
    display: none;
  }
}

.menuButton span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

.isOpen span:nth-child(1) {
  transform: rotate(-45deg) translate(-6px, 6px);
}
.isOpen span:nth-child(2) {
  opacity: 0;
}

.isOpen span:nth-child(3) {
  transform: rotate(45deg) translate(-7px, -7px);
}
