.buttonLink {
  color: rgb(var(--button-color));
  display: inline-block;
  padding: 18px 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);
  border: 3px solid rgb(var(--button-color));
  text-decoration: none;
  transition: 0.15s ease-out;
  transition-property: background-color, border-color;

  &:hover {
    background: rgb(var(--button-color) / 0.1);
  }

  &.contained {
    border-color: transparent;

    &.primary {
      background: rgb(var(--button-primary-color));
      color: rgb(var(--button-primary-text-color));

      &:hover {
        background: rgb(var(--button-primary-color) / 0.8);
      }
    }

    &.secondary {
      background: rgb(var(--button-color));
      color: rgb(var(--button-text-color));

      &:hover {
        background: rgb(var(--button-color) / 0.8);
      }
    }
  }

  &.outlined {
    &.primary {
      border-color: rgb(var(--button-primary-color));

      &:hover {
        border-color: rgb(var(--button-primary-color) / 0.8);
      }
    }
  }

  &.fullWidth {
    display: block;
  }
}
