.back_link {
  margin-bottom: 10px;
}

.person {
  display: flex;
  flex-direction: column;
}

.person_info {
  order: 2;
}

.person_image {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
}

.person_image img {
  margin: 0;
  padding: 0;
}

.podcast_item {
  margin-bottom: 10px;
}

.company {
  font-style: italic;
}

.social {
  margin-bottom: 20px;
}

.social_icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 5px;
}

.social_icon a {
  border-bottom: none;
}

@media screen and (min-width: 768px) {
  .person {
    flex-direction: row;
  }

  .person_info {
    order: 1;
  }

  .person_image {
    order: 1;
  }
}
