.meetupDate {
  padding: 0 20px;
  height: 40px;
  border-radius: 25px;
  font-size: var(--font-size-s);
  background-color: rgb(var(--background-color) / 0.5);
  margin-bottom: var(--spacer-m);
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
  padding-left: 15px;

  &.pastEvent {
    padding-left: 10px;
  }
}

.pastEventIcon {
  color: rgb(var(--color-folly));
  margin-right: 7px;
}

.upcomingEventIcon {
  color: rgb(var(--color-folly));
  margin-right: 7px;
  margin-bottom: 2px;
}
