html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Arial, sans-serif;
  font-size: 16px;
  background: #fff;
  color: #000;
}

a {
  color: #df4b26;
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

a:hover, a:focus {
  border: none
}

p, dl {
  margin: 0;
  padding: .5em 0;
}

.page {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  padding: 1em 0;
}

.page__header {
  flex: 1 0 auto;

  box-sizing: border-box;
  padding: 0 1em;
}

.page__heading {
  margin: 0;
  padding: 0 0 .5em;
}

.page__aside {
  flex: 1 0 auto;

  box-sizing: border-box;
  padding: 0 1em;
}

.page__content {
  flex: 1 0 auto;

  box-sizing: border-box;
  padding: 0 1em;
}

.page__footer {
  flex: 1 0 auto;

  box-sizing: border-box;
  padding: 40px 1em;

  font-size: .9em;
}

@media screen and (min-width: 460px) and (max-width: 699px) {
  .page__logo {
    float: right;
    padding: 1em 0;
  }
}

@media screen and (min-width: 700px) {
  .page {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .page__header {
    flex-basis: 100%;
  }

  .page__aside {
    flex-basis: 250px;
    order: 1;
  }

  .page__content {
    flex-basis: calc(100% - 250px);
  }

  .page__footer {
    flex-basis: 100%;
    order: 2;
  }
}

@media screen and (min-width: 950px) {
  .page {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}
