:root {
  /* Pallette */
  --color-black: 13 19 26;
  --color-blue: 121 99 251;
  --color-folly: 255 51 102;
  --color-white: 255 255 255;
  --color-cream: 242 247 242;

  /* Design colors */
  --background-color-dark: var(--color-black);
  --background-color-light: var(--color-white);
  --text-color-black: var(--color-black);
  --text-color-white: var(--color-white);

  /* Theme colors*/
  .theme-dark {
    --background-color: var(--background-color-dark);
    --text-color: var(--text-color-white);
    --link-color: var(--text-color-white);
    --button-color: var(--text-color-white);
    --button-text-color: var(--text-color-black);
    --border-color: var(--text-color-white);
    background-color: rgb(var(--background-color));
  }

  .theme-light {
    --background-color: var(--background-color-light);
    --text-color: var(--text-color-black);
    --link-color: var(--text-color-black);
    --button-color: var(--text-color-black);
    --button-text-color: var(--text-color-white);
    --border-color: var(--text-color-black);
    background-color: rgb(var(--background-color));
  }

  --font-size-s: 14px;
  --font-size-m: 20px;
  --font-size-l: 24px;
  --font-size-xl: 32px;

  @media (min-width: 670px) {
    --font-size-s: 16px;
    --font-size-m: 24px;
    --font-size-l: 36px;
    --font-size-xl: 64px;
  }

  @media (min-width: 1025px) {
    /*  */
  }

  --spacer-s: 15px;
  --spacer-m: 20px;
  --spacer-l: 30px;
  --spacer-xl: 40px;
  --spacer-xxl: 50px;

  --font-weight-bold: 600;
  --font-weight-regular: 300;
}
