.content {
  position: relative;
  padding: 0 20px;

  @media (min-width: 480px) {
    padding: 0 58px;
  }

  @media (min-width: 1025px) {
    padding: 0 50px;
    margin: 0 auto;
    max-width: 1327px;
  }
}
