.headingWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--spacer-l);
}

.meetupWrapper {
  padding: 40px;
  text-decoration: none;
  color: var(--text-color);
  border: 3px solid rgb(var(--border-color));
  transition: border 0.15s ease;

  &:hover {
    border-color: rgb(var(--color-blue));
  }
}
