.blockMeetups-headingWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--spacer-l);
}

.blockMeetups-button {
  margin-bottom: var(--spacer-l);
}

.blockMeetups-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;

  @media (min-width: 670px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 1025px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.blockMeetups-item {
  padding: 40px;
  text-decoration: none;
  color: var(--text-color);
  border: 3px solid rgb(25, 27, 43);

  &:hover {
    border-color: rgb(var(--color-blue));
  }
}

.blockMeetups-itemTitle {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 18px;
}

.blockMeetups-itemPersonTitle {
  margin: 32px 0 6px;
}

.blockMeetups-itemPersonWrapper {
  display: inline-block;
  margin: 12px 12px 0 0;
}

.blockMeetups-itemPersonPortrait {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  object-fit: cover;
}
