import styled from 'styled-components';

.portrait {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
}

.name {
  font-size: 18px;
  font-weight: bold;
  margin: 6px 0 24px;
}
