.wrap {
  margin-left: auto;
  position: relative;
}

.shareBlock {
  width: 240px;
  position: absolute;
  top: 120%;
  right: 0px;
  border: 1px solid #f7f7f7;
  padding: 10px 15px;
  font-size: 12px;
  background: white;
  transition: opacity 0.3s, transform 0.3s;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-5px);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);

  &.visible {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }

  @media (min-width: 375px) {
    width: 320px;
  }
}

.input {
  padding: 5px 10px;
  border: 1px solid #f7f7f7;
  display: block;
  width: 100%;
  margin-bottom: 12px;
}

.time {
  display: inline-block;
  justify-content: flex-start;
  align-items: center;
  padding-left: 22px;
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 14px;
    height: 14px;
    transform: translateY(-50%);
    border: 1px solid #252525;
    border-radius: 3px;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 4px;
    height: 6px;
    width: 10px;
    border-left: 2px solid #ce340d;
    border-bottom: 2px solid #ce340d;
    top: 42%;
    transform: rotate(-50deg) translateY(-50%);
    opacity: 0;
    transition: opacity 0.2s;
  }
}

.checkbox {
  display: none;

  &:checked ~ .time:after {
    opacity: 1;
  }
}

.social {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.socialList {
  margin-left: 8px;
  list-style: none;
  flex-grow: 1;
}

.socialItem {
  display: inline-block;
  vertical-align: middle;
  margin: 0 8px 0 0;
}

.socialLink {
  display: block;
  border-radius: 50%;
  border: none;
  width: 24px;
  height: 24px;
  color: #ce340d;

  &:hover {
    color: #df4b26;
  }

  &:focus {
    color: #df4b26;
  }
}