:root {
  --base-font: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Arial, sans-serif;
  --base-size: 16px;
  --color-red: #df4b26;
  --color-grey: #f7f7f7;
  --color-dark: #000;
  --color-light: #fff;
}
