@import 'config.css';

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  display: flex;
}

body {
  font-family: var(--base-font);
  font-size: var(--base-size);
  background: var(--color-light);
  color: var(--color-dark);
}

a {
  color: var(--color-red);
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

a.no-border {
  border-bottom: none;
}

a:hover,
a:focus {
  cursor: pointer;
  border: none;
}

p,
dl {
  margin: 0;
  padding: .5em 0;
}

.app {
  display: flex;
  min-width: 100%;
  min-height: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 70px 0 1em;
  width: 100%;
}

.page--header {
  box-sizing: border-box;
  padding: 0 1em;
}

.page--heading {
  margin: 0;
  padding: 0 0 .5em;
}

.page--aside {
  box-sizing: border-box;
  padding: 0 1em;
  order: 1;
  margin-top: 1em;
  border-top: 1px solid #eee;
}

.page--container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.page--logo {
  float: right;
  padding: 1em 0;
}

.page--content {
  box-sizing: border-box;
  padding: 0 1em;
}

.page--footer {
  box-sizing: border-box;
  padding: 40px 1em;
  font-size: .9em;
}

/* .contacts--term {
} */

.contacts--desc {
  margin-left: 0;
  -webkit-margin-start: 0;

  & + .contacts--term {
    margin-top: calc(var(--base-size) / 2);
  }
}

@media screen and (min-width: 700px) {
  .page {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  /* .page--header {
  } */

  .page--aside {
    flex-basis: 250px;
    order: 1;
    margin-top: 0;
    border-top: none;
  }

  .page--logo {
    float: none;
  }

  .page--container {
    flex-direction: row;
  }

  .page--content {
    flex-basis: calc(100% - 250px);
  }

  /* .page--footer {
  } */
}

@media screen and (min-width: 950px) {
  .page {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}
