.title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 128px;
  background: url(/meetup_cover.jpg);
  background-size: cover;
  background-position: center center;
  padding-top: 65px;
  color: #fff;
  text-align: center;
  margin-top: 0;
  margin-bottom: 46px;
  font-size: 32px;
  font-weight: 200;
  line-height: 0;
}

.post:not(:last-of-type) {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.header {
  display: flex;
  font-weight: 200;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 20px;
}

.header_title {
  font-weight: 200;
  margin: 0;
}

.header_date {
  font-weight: 200;
  color: #7b7b7b;
  white-space: nowrap;
}

@media screen and (min-width: 700px) {
  .title {
    height: 256px;
    font-size: 50px;
  }
}
