.title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 128px;
  background: url(/podcast_cover.png);
  background-size: cover;
  background-position: center center;
  padding-top: 65px;
  color: #fff;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 200;
  line-height: 0;
}

.post:not(:last-of-type) {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.header {
  display: flex;
  font-weight: 200;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 20px;
}

.header_title {
  font-weight: 200;
  margin: 0;
}

.header_date {
  font-weight: 200;
  color: #7b7b7b;
  white-space: nowrap;
}

.rss_icon {
  width: 13px;
  height: 13px;
  margin: 0;
}

.itunes_icon {
  position: relative;
  top: 3px;
  width: 19px;
  height: 19px;
  margin: 0;
}

.telegram_icon {
  position: relative;
  top: 2px;
  width: 15px;
  height: 15px;
  margin: 0;
}

.links {
  margin-bottom: 20px;
}

.linksItem {
  color: #333;
  margin-right: 15px;
}

@media screen and (min-width: 700px) {
  .title {
    height: 256px;
    font-size: 50px;
  }
}
