.wrapper {
  position: relative;
  z-index: 2;
  display: flex;
  align-content: center;
  align-items: center;
  margin-bottom: var(--spacer-xxl);
}

.content {
}

.eventDate {
  display: block;
  font-size: var(--font-size-m);
  text-transform: uppercase;
}

.address {
  margin-top: var(--spacer-s);
  font-size: var(--font-size-s);
}
