.control {
  background-color: transparent;
  color: #ce340d;
  border: 2px solid currentColor;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
  box-sizing: border-box;
  transition: color 150ms ease;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;

  & + & {
    margin-left: 8px;
  }
}
.control:hover {
  color: #df4b26;
}
.control:focus {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.control svg {
  width: 60%;
  height: 60%;
  fill: currentColor;
}
.small {
  width: 24px;
  height: 24px;
}

.play {
  padding-left: 3px;
}

.pause {
  padding: 3px;
}

.controls {
  display: flex;
  flex-flow: row, nowrap;
  align-items: flex-end;
  align-content: flex-start;
}

.player {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timer {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-top: 16px;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  line-height: 1;
}

.progress {
  flex-grow: 1;
}
